*{
    margin: 0;
    padding: 0;
    
}
body {
    margin: 0%;
    font-size: 100%;
    font-style: normal;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    
}

.container-fluid{
    background-color: #121d33;
    height: 70px;
    margin-left: 100px;
}
.brand-text{
    font-weight: bold;
    color: white;
    font-size: 25px;
    top: 0%;
}
.navbar-brand{
    margin-left: 70px;
}
.nav-height{
    height: 40px;
    text-align: center;
    background-color: #2351ad;
    color: white;
    margin-bottom: -10px;
}
.menu{
    height: 19px;
    width: 19px;
}
.navbar{
    margin-bottom: -19px;
    margin-top: 0 !important;
}
.nav-item-text{
    color: rgb(224, 230, 236);
    font-size: 17px;
}
.nav-link{
    margin-left: 50px;
}
.btn{
    font-size: 13px;
    margin-left: 20px;
}
.btn-light{
    margin-right: 60px;
}
.header-div{
    height: 550px;
   padding-left: 200px;
   padding-top: 200px;
   padding-right: 200px;
    background-color: rgb(198, 14, 244);
}
.heading-text{
    color: white;
    font-size: 48px;
}
.search-mail{
    width: 550px;
    height: 40px;
}
.mail-form{
    padding: 20px;
    height: 40px;
    width: 350px;
    margin-right: -10px;
    border-radius: 8px;
    margin-top: 30px;

}
.top-card-div{
height: 200px;

margin-left: 200px;
margin-right: 200px;
margin-top: -70px;
z-index: 2;
display: flex;
justify-content: space-between;
}
.div-1{
    height: 150px;
    width: 230px;
   
    border-radius: 10px;
    padding: 2px;
    background-color: white;
}
.card-btn-buy{
    margin-top: 15px;
    background-color: #f2e6ff;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-left: 55px;
    color:  #8000ff;
    border: none;
}
.card-btn-trade{
    background-color: #e6ffe6;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    margin-top: 15px;
    padding-bottom: 2px;
    color:  #00cc66;
    border: none;

}
.card-text{
    color: black;
}
.text{
    font-size: 16px;
}
.soul-img-size{
    height: 40px;
}